# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Mac OS
.DS_Store

# Uploads directory
uploads/

# Generated detector outputs
detection/plate_crops/
detection/test_output/
detection/annotated_images/*_detected.jpg

# Local simulator database
backend/database/*.db
backend/database/*.db-*

# User specified ignores
admin-app/
plate_detector/
plate detector/
models/

# Firebase Service Account Key
serviceAccountKey.json
